In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Color" : ["Red","Blue","Green" ,"Red"]
})
df

   Color
0    Red
1   Blue
2  Green
3    Red

## OHE BY PANDAS

In [9]:
ohe_df = pd.get_dummies(df , columns=["Color"], drop_first=True)

In [10]:
ohe_df

   Color_Green  Color_Red
0        False       True
1        False      False
2         True      False
3        False       True

## OHE BY SCIKIT_LEARN

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
encoder = OneHotEncoder(sparse=False , drop="first")

In [20]:
one_hot_encoded = encoder.fit_transform(df[["Color"]])

C:\Users\gusai\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [21]:
one_hot_encoded

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.]])

In [22]:
encoded_df = pd.DataFrame(one_hot_encoded , columns=encoder.get_feature_names_out(["Color"]))

In [23]:
encoded_df

   Color_Green  Color_Red
0          0.0        1.0
1          0.0        0.0
2          1.0        0.0
3          0.0        1.0

### LABEL ENCODING

In [26]:
df

   Color
0    Red
1   Blue
2  Green
3    Red

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
encoder = LabelEncoder()

In [27]:
df["Color_encoded"] = encoder.fit_transform(df["Color"])

In [28]:
df

   Color  Color_encoded
0    Red              2
1   Blue              0
2  Green              1
3    Red              2

### ORDINAL ENCODER

In [29]:
data = {
    'color': ['red', 'blue', 'green', 'blue', 'red'],
    'size': ['S', 'M', 'L', 'M', 'S'],
    'price': [10, 20, 30, 20, 10]
}

df = pd.DataFrame(data)

In [30]:
df

   color size  price
0    red    S     10
1   blue    M     20
2  green    L     30
3   blue    M     20
4    red    S     10

In [32]:
from sklearn.preprocessing import OrdinalEncoder

In [33]:
size_categories=[["S","M","L"]]

In [34]:
size_categories

[['S', 'M', 'L']]

In [35]:
encoder = OrdinalEncoder(categories = size_categories)

In [37]:
size_values = df[["size"]].values

In [38]:
size_values

array([['S'],
       ['M'],
       ['L'],
       ['M'],
       ['S']], dtype=object)

In [40]:
df["size_encoded"] = encoder.fit_transfrom(size_values)

AttributeError: 'OrdinalEncoder' object has no attribute 'fit_transfrom'